.CogSci_2019_mss.1.tex.un~
CogSci_2019_CoxCooperBorkenhagenSeidenberg.aux
CogSci_2019_CoxCooperBorkenhagenSeidenberg.bbl
CogSci_2019_CoxCooperBorkenhagenSeidenberg.bib.bak
CogSci_2019_CoxCooperBorkenhagenSeidenberg.blg
CogSci_2019_CoxCooperBorkenhagenSeidenberg.log
CogSci_2019_CoxCooperBorkenhagenSeidenberg.pdf
CogSci_2019_CoxCooperBorkenhagenSeidenberg.synctex.gz
CogSci_2019_Final.pdf
CogSci_2019_Final_wSlotDiscussion.pdf
CogSci_2019_Manuscript.zip
CogSci_2019_mss.1.aux
CogSci_2019_mss.1.bbl
CogSci_2019_mss.1.blg
CogSci_2019_mss.1.log
CogSci_2019_mss.1.synctex.gz
CogSci_2019_mss.1.tex~
CogSci_2019_mss.aux
CogSci_2019_mss.bbl
CogSci_2019_mss.blg
CogSci_2019_mss.log
CogSci_2019_mss.pdf
CogSci_2019_mss.synctex.gz
CogSci_Template.bib
cogsci_template.pdf
cogsci_template_summary.pdf
cogsci_template_summary.tex
cogsci_template_summary_word.dotx
cogsci_template_word.dotx
cogsci_template_word.pdf
figures/WUG-test-2.pdf
figures/WUG-test-2.pdf_tex
figures/WUG-test.pdf
figures/WUG-test.svg
poster/
reviewer-comments.docx

